<h1>Hello, world!</h1>

<br/>

<% if user_signed_in? %>
<p><%= "Welcome #{current_user.username}" %></p>
<li><%= link_to 'Edit Account Information', edit_user_registration_path %></li>
<% end %>
