
<div class="container-fluid pull-right" style="text-align: right">
<% if user_signed_in? %>
<p>Welcome <%= link_to "#{current_user.username}", edit_user_registration_path %>! Not you? <%= link_to 'Sign Out',  destroy_user_session_path, :method => :delete  %></p><br/>
Start a <%= link_to 'new game', new_game_path %> or <%= link_to 'join', games_path %> an existing match!
<% end %>
</div>

<br/><br/>
