<div class="booyah-box col-xs-10 col-xs-offset-1">

<h2>Player 2: Black</h2>

  <%= simple_form_for @game do |f| %>
    <%= f.input :black_player_id, as: :hidden, input_html: {value: current_user.id } %>
    <%= f.submit 'Join Now', class: 'btn btn-primary' %>
  <% end %>

</div>
