@import "bootstrap-sprockets";
@import "bootstrap";

.clr {
  clear:both;
}

// Nav media

@media only screen and (max-width: 767px) and (min-width: 480px){
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: block;
        h1 {
          font-size: 16px !important;
        }
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

// Nav Bar

.header {
  width: 100%;
}

.content {
  margin-bottom: 150px;
  margin-right: 15px;
  margin-left: 15px;
  position: relative;
  height:100%;
}

.navbar .container-fluid {
  margin-right: 15px;
  padding-top: 5px;
}

.navbar h1 {
  margin: 0;
  padding: 0;
  text-align: right;
  a {
    color: inherit;
    text-decoration: none;
  }
}

.navbar-static-top {
  width:100%;
  background:transparent !important;
}

.navbar {
  border-radius: 0;
  width:100%;
}

// Footer
#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 150px;
    padding-top: 10px;
}

.footer-container {
    width: auto;
    text-align: center;
    padding: 0 15px;

    a {
        text-decoration: none;
    }
}

.footer-content {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;

    a {
        color: #000000;
    }
}

.footer-social-icons {
    display: block;
    padding-bottom: 5px;
    color: white;
}

.fa {
    padding: 17px;
    font-size: 30px;
    width: 50px;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-reddit {
    background: #ff5700;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}
// Line
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 30%;
    border-style: inset;
    border-width: 0.10px;
    opacity: 0.7;
}

// game#show page

.page-header {
  text-align: center;
}

.game-status {
  h4 {
    text-align: center;
  }
}

.players {
  width: auto;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

// Game board

table {
  margin: 0 auto;
  border-collapse: collapse;
  border: 2px solid black;
}

td {
  width: 80px;
  height: 80px;
  font-size: 50px;
  text-align: center;
}

tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
  background: rgba(0,0,0, 0.5);
}

.piece:hover{
		cursor: pointer;
		opacity: 0.3;
}

//td:active{
//  background-color:lightblue;
//}

//tr:nth-child(odd) td:nth-child(even):active,
//tr:nth-child(even) td:nth-child(odd):active {
//  background: lightblue;
//}

.btn {
  padding: 10px;
  margin: 10px;
}

a {
  text-decoration: none !important;
  //color: inherit !important;
}

ul {
  list-style: none; 
}

.alert-notice{
  background-color: #d9edf7;
  border: 1px solid #bce8f1 !important;
  color: #31708f;
  border-radius: .25rem;
  text-align: center;
}

.player{  background-color: #d9f7f2;
  border: 1px solid #bce8f1;
  color: #31708f;
  border-radius: .25rem;
  text-align: center;
  padding: 10px;
  max-width: 210px;
}

.button {
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  font-family: Arial;
  color: #004dff;
  font-size: 26px;
  padding: 11px 20px 10px 20px;
  border: solid #004dff 3px;
  text-decoration: none;
  background: #fff
}

.button:hover {
  background: #e4e6eb;
  text-decoration: none;
}

p {
  font-size: 15px;
}

.about-app {
  padding-right: 30px;
}

.turn {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
}

.turn-status{  background-color: #9df2b9;
  border: 1px solid #bce8f1;
  color: #1c773a;
  border-radius: .25rem;
  text-align: center;
  padding: 5px;
  max-width: 210px;
}

#gravatar {
  text-align:left;
  padding-left:0;
  margin-left:0;
  position:absolute;
}

#prof-data {
  float:right;
  text-align:right;
  padding-right:20px
}